body {
  background-color: #bbd9bd;
}

.low-usage {
  color: #228B22;
}

.medium-usage {
  color: #000000;
}

.high-usage {
  color: 	#FF0000;
}

img {
  position: absolute;
  left: 350px;
  top: 50px;
}

/*button {
  background-color: #000000;
  border: none;
  color:
}*/
